<table>
<tr><td>Name: </td><td><%= f.text_field :name %></td></tr>
<tr><td>  Strength:</td><td><%= f.text_field :strength, :size => 4 %></td></tr>
<tr><td>  Agility:</td><td><%= f.text_field :agility, :size => 4 %></td></tr>
<tr><td>  health:</td><td><%= f.text_field :health, :size => 4 %></td></tr>
<tr><td>  intelligence:</td><td><%= f.text_field :intelligence, :size => 4 %></td></tr>
<tr><td>  intuition:</td><td><%= f.text_field :intuition, :size => 4 %></td></tr>
<tr><td>  charisma:</td><td><%= f.text_field :charisma, :size => 4 %></td></tr>
<tr><td>  perception:</td><td><%= f.text_field :perception, :size => 4 %></td></tr>
<tr><td>  attack:</td><td><%= f.text_field :attack, :size => 4 %></td></tr>
<tr><td>  defense:</td><td><%= f.text_field :defense, :size => 4 %></td></tr>
</table>