<h1>Editing character</h1>

<% form_for(@character) do |f| %>
  <%= f.error_messages %>
<%= render :partial => "form", :locals => {:f => f} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>